/* style.css */

body {
    background-color: white;
}

/* These classes are produced by the Zend navigation tool (publicNav). */
ul.navigation {
    border: 1px solid black;
}

.rdt-masonry-grid {
    background: silver;
    list-style-type: none;
}

.rdt-grid-item {
    /* width: 400px; */
    /* height: 210px; */
    float: left;
}
